:root {
    --hover: #202C33;
    --select: #2A3942;
    --mainwindow: #0C1317;
    --peopleContainer: #111B21;
    --msgbox: #222E35;
    --peopleContainerHeight: 4.5rem;
    --imgpath: url("./assets/background.jpg");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.outer {
    height: 100vh;
    width: 100vw;
    height: 100dvh;
    width: 100dvw;
    padding: 18px;
    padding-bottom: 20px;
    background-color: var(--mainwindow);
    position: relative;
}

.dashboard {
    display: flex;
    width: 100%;
    height: 100%;
}

.damborder {
    width: 3rem;
    background-color: var(--hover);
}

.chatContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.peopleTopContainer {
    width: 35%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    background-color: var(--peopleContainer);
    position: relative;
}


.heading {
    display: flex;
    padding: 2rem;
    align-items: center;
    height: var(--peopleContainerHeight);
    font-size: 2rem;
}

.peopleMainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.peopleContainer {
    height: var(--peopleContainerHeight);
    padding: 0;
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
    background-color: var(--peopleContainer);
    cursor: pointer;
    gap: 1rem
}

.chatContainer .peopleContainer {
    background-color: var(--hover);
    border: none;
    cursor: default;
    min-height: var(--peopleContainerHeight);
}

/* more specific selector have 
    heighest peference */

/* .chatContainer .peopleContainer.activePeople {
    background-color: red;
} */

.activePeople {
    background-color: var(--select);
}

.peopleTopContainer .peopleContainer:hover:not(.activePeople) {
    background-color: var(--hover);
}


.userImage {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    background-color: white;
}

.nameContainer {
    height: 100%;
    border-bottom: 2px solid var(--hover);
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.name {
    font-size: 1.18rem;
}

.msgBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    gap: 10px;
    background-image: var(--imgpath);
    background-size: contain;
    background-repeat: round;
    overflow-y: scroll;
    padding: 6px;
    position: relative;
}

.msg {
    width: fit-content;
    height: fit-content;
    max-width: 500px;
    padding: 7px;
    font-size: 1.05rem;
    border-radius: 9px;
    background-color: var(--select);
    word-wrap: break-word;
    word-break: break-all;
    white-space: round;
}

.flexEnd {
    align-self: flex-end;
}

.msgInputContainer {
    padding: 9px 18px;
    padding-left: 110px;
    display: flex;
    align-items: flex-end;
    background-color: var(--hover);
    gap: 1rem;
}

.msgInput {
    background-color: var(--select);
    border-radius: 5px;
    padding: 1rem;
    font-size: 1rem;
    flex-grow: 1;
    border: none;
    overflow-y: scroll;
    resize: none;
}

.sendBtn {
    font-size: 2rem;
    height: 3.1rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a0a0a0;
    background-color: var(--select);
    border-radius: 0.2rem;
    cursor: pointer;
}

.msgInput:focus {
    outline: none;
    border: none;
}

.customScrollBar::-webkit-scrollbar {
    width: 6px;
}

.customScrollBar::-webkit-scrollbar-track {
    /* background-color: white; */
    border-radius: 7px;
}

.customScrollBar::-webkit-scrollbar-thumb {
    background-color: #323A3F;
    border-radius: 7px;
}

.msgInput::-webkit-scrollbar-thumb {
    background-color: #67727b;
}

.msgBox::-webkit-scrollbar-thumb {
    background-color: #323A3F;
}

.titleMsg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 3rem;
}

.loginContainer {
    display: flex;
    justify-content: center;
    padding: 15px;
    padding-top: 60px;

}

.loginContainer form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    width: 100%;
    max-width: 500px;
    height: fit-content;
    background-color: var(--hover);
    border-radius: 9px;
}

.loginContainer input {
    font-size: 1.2rem;
    padding: 0.8rem;
    border-radius: 9px;
    background-color: var(--select);
    font-weight: thin;
    outline: none;
    border: none;
}

.loginContainer button {
    font-size: 1.3rem;
    padding: 0.7rem;
    border-radius: 9px;
    background-color: var(--select);
    font-weight: thin;
    cursor: pointer;
    outline: none;
    border: none;
}

.backBtn {
    display: none;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

.modalContainer>p {
    font-size: 1.5rem;
    color: white;
}

.loadingContainer {
    height: 4rem;
    width: 4rem;
    border: 0.3rem solid;
    border-color: white;
    opacity: 0.4;
    border-radius: 50%;
    background-color: transparent;
    position: relative;

}

.loadingContainer::after {
    content: "";
    display: block;
    position: absolute;
    top: -0.3rem;
    left: -0.3rem;
    height: 100%;
    width: 100%;
    border: 0.3rem solid;
    border-color: #727272 transparent transparent transparent;
    border-radius: 50%;
    background-color: transparent;
    transform-origin: center center;
    animation: rounding 3s infinite;
}

@keyframes rounding {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg
    }
}

@media only screen and (max-width: 600px) {
    .titleMsg {
        display: none;
    }

    .outer {
        padding: 0;
    }

    .damborder {
        display: none;
    }

    .peopleTopContainer {
        width: 100%;
        max-width: 100%;
    }

    .chatContainer .peopleContainer {
        padding-left: 0;
    }

    .peopleContainer {
        padding: 0;
        padding-left: 1.5rem;
        gap: 1rem;
    }

    .msgInputContainer {
        padding: 9px;
        gap: 0.5rem;
    }

    .msgInput {
        padding: 0.7rem;
    }

    .sendBtn {
        height: auto;
    }

    .msgBox {
        gap: 3px;
    }

    .msg {
        max-width: 300px;
        padding: 7px;
        font-size: 1rem;
    }

    .loginContainer {
        padding-top: 200px;
    }

    .loginContainer {
        width: 100%;
    }

    .backBtn {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
    }
}
